/gwt-unitCache
.svn
war/WEB-INF/classes/*.class
war/WEB-INF/deploy/*
*/local_db.bin
war/WEB-INF/appengine-generated/local_db.bin
.gwt/.gwt-log
.settings/com.google.appengine.eclipse.core.prefs
.settings/com.google.gdt.eclipse.core.prefs
.settings/com.google.gwt.eclipse.core.prefs

war/WEB-INF/lib/appengine-api-1.0-sdk-1.8.1.1.jar
war/WEB-INF/lib/appengine-jsr107cache-1.8.1.1.jar
.classpath
.classpath
