.center
{
margin:auto;
width:70%;
}

#loading {
top:0;
   right:0;
   width:100%;
   height:100%;
   position:fixed;
   text-align:center;
   vertical-align: center;
   /* IE filter */
   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
   -moz-opacity:0.5;    /* Mozilla extension */
   -khtml-opacity:0.5;  /* Safari/Conqueror extension */
   opacity:0.5; /* CSS3 */
   z-index:1000;
   background-color:white;
   display: none;
}
#loading img.loading_circle {
    position: absolute;
    margin-left: -110px;
    top: 50%;  // edit these values to give you
    left: 50%; // the positioning you're looking for.
}