<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
    
    <welcome-file-list>
        <welcome-file>Welcome.html</welcome-file>
    </welcome-file-list>
    

    

	<!--   RPC servlets --> 

  <servlet>
    <servlet-name>manageTaskServlet</servlet-name>
    <servlet-class>com.tudor.ctm.ui.server.ManageTaskServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>manageTaskServlet</servlet-name>
    <url-pattern>/com.tudor.ctm/manageTask</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>getUserData</servlet-name>
    <servlet-class>com.tudor.ctm.ui.server.GetUserDataImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>getUserData</servlet-name>
    <url-pattern>/com.tudor.ctm/getUserData</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>manageproject</servlet-name>
    <servlet-class>com.tudor.ctm.ui.server.ManageProjectImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>manageproject</servlet-name>
    <url-pattern>/com.tudor.ctm/manageproject</url-pattern>
  </servlet-mapping>
 
      <!-- Endpoints servlets -->
 
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value>com.tudor.ctm.endpoint.CloudProjectEndpoint,com.tudor.ctm.endpoint.CloudTaskEndpoint,com.tudor.ctm.endpoint.CloudUserEndpoint,com.tudor.ctm.endpoint.DeviceInfoEndpoint</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>